body {
	font-family: "Lucida Console", Monaco, monospace;
}

input {
	font-family: "Lucida Console", Monaco, monospace;
	border: 0;
	font-size: 17px;
}

input:focus {
	outline: none; 
}

button {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 17px;
	padding: 5px 10px;
}

.table-wrapper {
	float: left;
	min-width: 200px;
}

#comment {
	width: 100%;
}

.download-btn {
	margin-top: 20px;
}

#main {
	border-spacing: 0;
	border-collapse: collapse;
}

#main td {
	margin: 0;
	padding: 0;
	border: 1px #777 dashed;
}

#main td.highlight input {
	background-color: #fcfcfc;
}

#main tr.guide td, #main td.guide {
	border: none;
	padding: 3px;
	text-align: center;
	color: #999;
	font-weight: bold;
}

/*#main td:first-child { border-left: 0; }
#main td:last-child { border-right: 0; }
#main tr:first-child td { border-top: 0; }
#main tr:last-child td { border-bottom: 0; }*/

#main td input {
	margin: 0;
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	font-size: 28px;
}

#main td input:focus {
	background-color: #fafafa;
}